.btn {
        border: none;
        background: transparent;
        font-size: 16px;
        font-weight: normal;
        color: #15c;
        cursor: pointer;
        vertical-align: 1px;
    }


    .header-container {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }

    .header-search-input {
        border: solid 1px #e5e5e5;
    }

    .header-search-button {
        background-color: #0fbe9f;
    }

    .header-search-icon {
        color: #ffffff;
    }

    .header-fav-icon {
        color: #191919;
    }

    .header-shoppingcart-icon {
        color: #ffffff;
    }
